@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.expectations-item {
  position: relative;
  padding: 40px 136px 40px 40px;
  border-radius: 20px;

  background: radial-gradient(circle at left bottom,
      $bg-gradient-color-1 0%,
      $bg-gradient-color-2 25%,
      $bg-gradient-color-3 50%,
      $bg-gradient-color-4 100%);

  @include on-mobile {
    padding: 40px 40px 40px 20px;
  }

  &__wrapper {
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  &__title {
    max-width: 324px;
    padding-bottom: 12px;
    padding-left: 104px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

    color: $page-secondary-text-color;

    @include on-mobile {
      padding-left: 88px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__body {
    max-width: 324px;
    padding-left: 104px;
    font-size: 14px;
    line-height: 17.5px;

    @include on-mobile {
      padding-left: 88px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}