@import '../utils/mixins.scss';

.expectations {

  &__title {
    margin-bottom: 41px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;

    @include on-mobile {
      font-size: 28px;
      line-height: 35px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include on-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}