$page-bg-color: #121212;
$page-primary-text-color: #FFFFFF;
$page-secondary-text-color: #8B57C2;
$header-button-hover-color: #888888;
$purple-button-hover-color: #8B57C2D7;
$audience-bg-color: #212121;
$audience-card-bg-color: #18171DB2;
$modules-text-color: #000000;
$modules-selected-bg-color: #E7DAF5;
$modules-results-bg-color: #EBEBEB;
$result-percent-30-bg-color: #EF85EC;
$payment-card-bg-color: #121212B2;
$reservation-form-text-secondary-color: #282828;
$reservation-form-text-auxiliary-color: #646464;
$reservation-form-border-color: #969696;
$error-color: #FF0000;
$answers-item-bg-color: #353535;
$footer-contacts-text-color: #E1E1E1;
$footer-devider-color: #414141;
$footer-license-color: #D7D7D7;

$bg-gradient-color-1: #504740;
$bg-gradient-color-2: #5C4359;
$bg-gradient-color-3: #382B3F;
$bg-gradient-color-4: #171717;

$hover-transition-duration: 0.3s;